<%= render 'pages/navbar' %>

<div class="edit-mod-form">
  <div class="edit-mod-form-all">

<h1 class="h1-mod-form"> Edit Condition</h1>

<%= render 'form', condition: @condition%>

</div>
</div>

<%= render 'pages/footer' %>

