<%= render 'pages/navbar' %>

<div class="form">
  <div class="mod-form-all">

<h1 class="h1-mod-form"> New Condition</h1>

<%= render 'form', condition: @condition%>

</div>
</div>

<%= render 'pages/footer' %>

