<%= render "/pages/navbar" %>
<body>
  </main>
    <div class="list-form">
      <div class="list-form-all">  
        <div class="list-form-heading">
          <h1>New Tech Donation</h1>
        </div>  
            <%= render 'form', listing: @listing%>
        
      </div>
    </div>
     <%= render '/pages/footer' %>
  </main>
</body>
