
<footer>
    <div class="footer-links">
        <a href="http://github.com/themishmash" target="_blank">
            <i class="fab fa-github footer-link"> </i>
        </a>
        <a href="http://www.linkedin.com/in/wong-mich" target="_blank">
        <i class="fab fa-linkedin footer-link"></i>
        </a>
    </div>
    <div class="footer-tagline">
      <p>Made with <i class="fas fa-heart heart-logo"></i>.</p>
    </div>
</footer>