<%= render "navbar" %>


<h1> About Us </h1>

<h2>Thanks for dropping by!</h2>
<p>The Tech Exchange is a not-for-profit organisation run mostly by volunteers.</p>
<p>We connect people who have unwanted tech to those who do not have the financial means to access better technology.</p>
<p>If you want to donate your tech, all you have to do is sign up, list your tech on our website and then you wait to be contacted.</p>
<p>If you want to receive donated tech, all you have to do is sign up and contact the person who has posted the listing.</p> 
<p>If you don't have any tech but would like to help, you can contact us about your skills or donate money. Any money is greatly appreciated as it is used to repair computers, wipe data and send computers all around Australia, including remote locations!</p>
<p>Be the change you wish to see in the world.</p>

<%= render 'footer' %>

