<%= render 'navbar' %>
<main>

<div class="home-background">
<div class="hero-text-box">

<div class="typewriter">
<h1 class="h1-home">Welcome to the Tech Exchange </h1>



</div>
</div>
</div>

<div class="hero">
  <div>Tell me more</div>
  <div>Tell me more</div>
</div>




</main>
