<%= render 'pages/navbar' %>
<div class="donate-container">
  <div class="donate-all">
    <div class="donate-all2">

<h1>Donator Details</h1>

<p>Please contact the user at the email below for more information or to request this item</p>
<br>
<br>
<strong><%= @listing.user.email %></strong>

    </div>
  </div>
</div>

<%= render 'footer' %>
