<%= render 'pages/navbar' %>

<div class="edit-mod-form">
  <div class="edit-don-form-all">

<h1 class="h1-mod-form"> Edit Donation</h1>

<%= render 'form', donation: @donation%>

</div>
</div>

<%= render 'pages/footer' %>

