<%= render 'pages/navbar' %>
<body>
</main>
<div class ="form">
  <div class="form-all">

<div class="form-heading">
<h1> Donate to the Tech Exchange today! </h1>
<br>
<br>
<p> If you don't have any unused or unwanted tech lying around and would still like to help, we would greatly appreciate any donations you can spare. Donations are put towards ensuring the tech is restored to factory settings and for postage costs</p>
</div>

<%= render 'form' %>

</div>
</div>

<%= render 'pages/footer' %>
</main>
</body>
