<%= render '/pages/navbar' %>

<p>You've made a  successful payment to the Tech Exchange!</p>

<br>

<%= "Your tax deductible donation was $#{@donation.amount}." %>
<br>

<%= "Thank you #{@donation.name}."%>

<br>

<%= render 'pages/footer' %>