<%= render '/pages/navbar' %>

<div class="donate-container">
  <div class="donate-all">
    <div class="donate-all2">

<h1 class="h1-success"> Thanks for your support! </h1>
<p>You've made a  successful payment to the Tech Exchange!</p>

<br>

<%= "Your tax deductible donation was $#{@donation.amount}." %>
<br>

<%= "Thank you #{@donation.name}."%>

<br>

</div>
  </div>
</div>

<%= render 'pages/footer' %>