<%= render 'pages/navbar' %>

<div class="form">
  <div class="mod-form-all">
<h1 class="h1-mod-form"> Add a new system</h1>

<%= render 'form', system: @system%>
  </div>
</div>
<%= render 'pages/footer' %>

