<%= render "/pages/navbar" %>
<section class="show_single_list">

<h1>Show system</h1>

<p> 
<%= @system.name  %>
</p>

<%= link_to "Edit", edit_system_path(@system) %>
<%= link_to 'Destroy', system_path(@system),
            method: :delete,
            data: { confirm: 'Are you sure sure?'}, class:"listing-link" %>

</section>