/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

 .notice {
   display: none;
 }

 .alert {
   display: none;
 }

 * {
   margin: 0px;
   padding: 0px;
 }
 
 

 body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #66717e;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/background.jpg); 
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: top;
  font-family: 'Lato', sans-serif;
 
 }

 main {
   overflow: auto;
   
 }

 a {
   text-decoration: none;
   color: #77b6ea;
 }


 a:hover {
   color: #c7d3dd;
 }
 

 h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: white;
 }

 

 p {
  font-size: 20px;
  color: #66717e;
 }

 /* Photos */
 .thumbnails {
   width: 200px;
   height: 120px;
 }

 