

footer {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #77b6ea;
  position: relative;
  bottom: 0;
  margin-top: auto;

}

.footer-link {
  color: #66717e;
  font-size: 25px;
  padding: 0px 7px;
  padding-top: 5px;

}

.footer-links {
  display: flex;
  text-align: center;
  height: 70px;
  margin-left: 10px;
  padding-top: 15px;
}

.footer-tagline {
  color: #66717e;
  display: flex;
  height: 70px;
  align-items: center;
  font-weight: 600;
}

.footer-tagline > p {
  margin: 15px;
  padding: 0px;
}

.heart-logo {
  color: red;
  font-size: 15px;
  padding-left: 5px;
}

.heart-logo:hover {
  transform: scale(1.1);
}

.footer-link:hover {
  color: #c7d3dd;
}