.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.list-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2%;
}

.form-all {
    width: 60%;
    height: 70vh;
    border: 1px solid #77b6ea;
    box-sizing: border-box;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;  
    border-radius: 5px;
    position: relative;
    align-items: center;
}


.list-form-all {
  width: 60%;
  height: 90vh;
  border: 1px solid #77b6ea;
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;
}


.list-form-heading {
  display: flex;
  align-items: center;
}


.form-heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 3%;

}


// This affects the ransack gem on index listings
form:not(.listing_search) {
  // margin-top: 3%;
  // align-items: center;
  // border: 1px solid black;
  // box-sizing: border-box;
  // border-radius: 4px;
  // padding: 40px;
  // width: 40%;
  text-align: center;
  font-size: 20px;
  color: white;
  
}

// #donation_amount, #donation_name {
//   width: 100%;
//   padding: 10px;
// }


input[type=text], select, input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#listing_description {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#listing_system_id {
  text-align: center;
}

// #listing_picture {
//   text-align: center;
//      margin: auto;
//      position: absolute;
     
// }

.blue-button {
  width: 100%;
  background-color: #77b6ea;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  display: inline-block;
  text-align: left;
}


