.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.form-all {
  width: 60%;
    height: 70vh;
    border: 1px solid #77b6ea;
    box-sizing: border-box;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;  
    border-radius: 5px;
    position: relative;
    align-items: center;
}

label {
  font-size: 20px;
  color: white;
  
}

.form-heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 3%;

}


// This affects the ransack gem on index listings
// form {
//   margin-top: 3%;
//   align-items: center;
//   border: 1px solid black;
//   box-sizing: border-box;
//   border-radius: 4px;
//   padding: 40px;
//   width: 40%;
//   text-align: center;
  
// }

#donation_amount, #donation_name {
  width: 100%;
  padding: 10px;
}

