.h1-listing {
  color: #66717e;
}

.listingwholeform {
  height: 100%;
}

.listing-errors {
  display: flex;
  width: 90%;
}

#listing_year_id, #listing_system_id, #listing_condition_id, #listing_machine_id, #listing_location {
  width: 90%;
}

.field_with_errors {
  width: 80%;
  margin-left: 40px;
}

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.list-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2%;
}

.form-all {
    width: 50%;
    height: 70vh;
    border: 1px solid #77b6ea;
    box-sizing: border-box;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;  
    border-radius: 5px;
    position: relative;
    align-items: center;
    background-color: white;
}


.list-form-all {
  width: 400px;
  height: 90vh;
  border: 1px solid #77b6ea;
  box-sizing: border-box;
  display: flex;
  border-radius: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}


.list-form-heading {
  display: flex;
  align-items: center;
}


.form-heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 3%;
}

// This affects the ransack gem on index listings
form:not(.listing_search) {
  text-align: center;
  font-size: 20px;
  color: white;
}


input[type=text], select, input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#listing_description {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.blue-button {
  width: 60%;
  background-color: #77b6ea;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.label-field {
  display: inline-block;
  text-align: left;
  color: #66717e;
}

.radio-text {
  color: #66717e;
}

.photobut {
  margin-left: 35%;
}


#error_explanation {
  color: #66717e;
  font-size: 10px;
  text-align: center;
  // display: flex;
  width: 100%;
  // flex-direction: column;
  height: 100%;
}


.perrors {
  font-size: 15px;
}

.placeholder {
  text-align: center;
  font-size: 14px;
}