nav {
  /* padding-left: 20%; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 3%;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
  padding-top: 2%;
  font-weight: 500;
  /* font-size: 15px; */
  opacity: 0.75;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

li a:hover {
  /* background-color: #77b6ea; */
  color: #c7d3dd;
  text-decoration: underline;
}

.navbar-logo {
  height: 120px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  padding-right: 3%;
  /* padding-bottom: .5%; */
  padding-top: 1%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-top: 1.95%;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #77b6ea;
  min-width: 130px;
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #66717e;
  padding: 10px 10px; 
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .navbar-link {
  padding: 5px 20px;
  color: #376372;
  text-decoration: none;
  margin-top: 5%;
  margin-bottom: 5%;
} */

/* .img-techexchange {
  font-size: 55px;
  padding-right: 10px;
} */






/* .nav {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255);
  border-bottom: 0.5px solid #C7B198;
  
}

.navbar-links {
  height: 100%;
  display: flex;
  align-items: center;
}



.nav a:hover {
  color: #C7B198;
}
 */
