ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: #0B6175;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #C3E5E4;
}









/* .nav {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255);
  border-bottom: 0.5px solid #C7B198;
  
}

.navbar-links {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-link {
  padding: 5px 20px;
  color: #376372;
  text-decoration: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

.nav a:hover {
  color: #C7B198;
}
 */
