<%= render 'pages/navbar' %>

<div class="edit-mod-form">
  <div class="edit-mod-form-all">
<h1 class="h1-mod-form"> Edit Machine</h1>

<%= render 'form', machine: @machine%>

</div>
</div>

<%= render 'pages/footer' %>

