<%= render 'pages/navbar' %>

<div class="form">
  <div class="mod-form-all">
   
<h1 class="h1-mod-form">Add a new machine</h1>

<%= render 'form', machine: @machine%>

    
  </div>
</div>

<%= render 'pages/footer' %>

