<%= render 'pages/navbar' %>

<div class="form">
  <div class="mod-form-all">

<h1 class="h1-mod-form"> Add a new year</h1>

<%= render 'form', year: @year%>

</div>
</div>

<%= render 'pages/footer' %>
